.about {
  &_paragraph {
    color: var(--gray-600);
  }

  &_block {
    padding-bottom: calc(16px * 2);
  }

  &_h1 {
    font-size: calc(16px * 3);
    font-weight: 700;
    color: var(--B);
    margin-bottom: 16px;
  }

  &_h2 {
    font-size: calc(16px * 2);
    font-weight: 700;
    color: var(--B);
    margin-bottom: 16px;
  }

  &_link {
    color: var(--primary);
  }
}
