<div class="">
  <button class="">
    <span class=""><i class=""></i></span>
    <span class="">0</span>
  </button>
  <div class="">
    <div class="">
      <p>Productos Seleccionados: 0</p>
    </div>
    <div class="">
        <p>Agrega algo al carrito para mostrarlo aquí</p>
        <div key="" class="">
          <p class="">iphone</p>
          <p class="">$1.000</p>
        </div>
    </div>
    <div class="">
      <div class="">
        <p class="">Total a pagar:</p>
        <p class="">$1.000</p>
      </div>
      <button
        class=""
      >
        Ir a pagar
      </button>
      <button class="">
        Vaciar carrito
      </button>
    </div>
  </div>
</div>
