.filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &_title {
    font-size: 14px;
    font-weight: 500;
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_button {
    width: 100%;
    display: block;
    font-size: 14px;
    text-align: left;
    padding-left: 16px;
    text-transform: capitalize;
    transition: color 0.3s ease;

    &:hover {
      color: var(--primary);
    }
  }
}
