.navbar {
  border-bottom: 1px solid var(--gray-200);

  &_logo {
    font-size: 18px;
    font-weight: 800;
    color: var(--B);
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--primary);
    }
  }

  &_container {
    max-width: 768px;
    width: calc(100% - 32px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(16px * 2) 0;
  }

  &_links {
    display: flex;
    gap: calc(16px * 2);

    button {
      color: var(--gray-600);
      transition: color 0.2s ease-in-out;

      &.active {
        color: var(--primary);
      }

      &:hover {
        color: var(--primary);
      }
    }
  }

  &_register {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      width: calc(16px * 2);
      height: cacl(16px * 2);
    }

    span {
      display: none;
      color: var(--primary);
    }
  }
}
