<nav class="navbar">
  <div class="navbar_container">
    <button routerLink="/products" type="button" class="navbar_logo">Nova</button>
    <div class="navbar_links">
      <button routerLink="/products" routerLinkActive="active" type="button">Productos</button>
      <button routerLink="/contact" routerLinkActive="active" type="button">Contacto</button>
    </div>

      <div class="navbar_links_login">
      @if (!isLoggedIn()) {
        <button routerLink="/register" type="button" class="navbar_register">
          Crea tu cuenta
        </button>
        <button routerLink="/login" type="button" class="navbar_register">
          Ingresa
        </button>
      } @else {
        <button routerLink="/favs" type="button" class="navbar_register">
          Favoritos
        </button>
        <button routerLink="/shopping" type="button" class="navbar_register">
          Carrito
        </button>
      }
    </div>
  </div>
</nav>
